body {
    position: relative;
    &.modal-active {
        overflow: hidden;
     }
}

#navbar-scrollspy {}

#home {
    position: relative;
    width = 100vw;
    height = 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/home.jpg');
}

#home h1 {
    font-size: 72px;
}

#home h2 {
    font-size: 24px;
}

#goButton {
    transition: .5s all;
}

#goButton:hover i {
    animation-name: arrowAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

#about {
    padding-top: 5vh;
    position: relative;
    width = 100vw;
    height = 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/about.jpg');
}

#about button {
    width=1%;
}

#about section {
    position: absolute;
    top: 27%;
    left: 10%;
    opacity: 0;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.35);
}

#about h1 {
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

#about h2 {
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

.coldiv div {
    opacity: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: linear-gradient(#faddbb, #ffd4a1);
    text-align: center;
    vertical-align: middle;
    width: 80vw;
    height: 65vh;
}

@keyframes anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes revAnim {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.animate {
    -webkit-animation: anim 3s forwards;
    animation: anim 3s forwards;
}

.revAnimate {
    -webkit-animation: revAnim 1s forwards;
    animation: revAnim 1s forwards;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-20%);
  }
}

.arrowAnimate {
    position: absolute;
    animation: arrowAnim 1s ease infinite;
}

#about1 {}

#about1 img {
    float: left;
    margin-left: 7.5%;
    margin-right: 5%;
    margin-top: 5%;
    border-width: 0.4vw;
    border-color: #403e4f;
    border-style: solid;
    width: 18vw;
    height: 30vw;
}

#about1 h1 {
    color: #cde1fa;
    font: 36px Trebuchet MS, Helvetica, sans-serif;
    text-align: left;
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
}

#about1 p {
    line-height: 150%;
    text-align: left;
    margin-right: 15%;
    margin-left: 15%;
    color: #cde1fa;
}

#about1 a, a > span {
    color: #7df1f5;
    position: relative;
    text-decoration: none;

}
#about1 a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .8s ease;
}

#button1 {}

#about2 {}

#about2 h1 {
    color: #cde1fa;
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    text-align: center;
}

#about2 h2 {
    color: #cde1fa;
    font: 36px Trebuchet MS, Helvetica, sans-serif;
    text-align: center;
}

#about2 p {
    line-height: 150% !important;
    margin-left: 5%;
    margin-right: 5%;
    color: #cde1fa;
    font-size: 18px;
    text-align: center;
}

#button2 {}
#about3 {}
#button3 {}

.btnHoverAnim {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.btnHoverAnim:hover {
    transform: scale(1.3);
}

.btnGlow {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.btnGlow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 200, 0.6);
}

#about2 a, a > span {
    color: #7df1f5;
    position: relative;
    text-decoration: none;

}

#about2 a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .6s ease;
}

.effect1 {
    padding-top: 10px;
}

.effect1:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #7df1f5;
    transform: scaleX(0);
}

.effect1:hover:before {
   transform: scaleX(1);
}

#projects {
    padding-top: 5vh;
    position: relative;
    width = 100vw;
    height = 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/about.jpg');
}

#projects h1 {
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}







