body {
    position: relative;
    &.modal-active {
        overflow: hidden;
    }
}

#navbar-scrollspy {}

/* Begin home CSS */

#home {
    position: relative;
    height: 100vh;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/home.jpg');
}

#home h1 {
    font-size: 72px;
}

#home h2 {
    font-size: 24px;
}

#discord-username {}

#go-button {
    transition: .5s all;
}

#go-button:hover i {
    animation-name: arrowAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes arrowAnim {
  0% {
    transform: translateY(-20%);
  }

  50% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(-20%);
  }
}

.arrowAnimate {
    position: absolute;
    animation: arrowAnim 1s ease infinite;
}

/* End home CSS */

/* Begin about section CSS */

#about {
    padding-top: 5vh;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/about.jpg');
}

#about button {
    width=1%;
}

#about section {
    position: absolute;
    left: 10%;
    opacity: 0;
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.35);
}

#about h1 {
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

#about h2 {
    font-size: 24px;
    padding: 12px;
    text-align: center;
}

@keyframes anim {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes revAnim {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.animate {
    -webkit-animation: anim 3s forwards;
    animation: anim 3s forwards;
}

.revAnimate {
    -webkit-animation: revAnim 1s forwards;
    animation: revAnim 1s forwards;
}

#about1 {}

#about1 h1 {
    color: #cde1fa;
    font: 36px Trebuchet MS, Helvetica, sans-serif;
    text-align: left;
    margin-top: 3%;
    margin-right: 15%;
    margin-left: 15%;
}

#about1 p {
    line-height: 150%;
    text-align: left;
    margin-right: 15%;
    margin-left: 15%;
    color: #cde1fa;
}

#about1 a, a > span {
    color: #7df1f5;
    position: relative;
    text-decoration: none;

}
#about1 a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .8s ease;
}

#button1 {
    transition: .5s all;
}

#about2 {}

#about2 h1 {
    color: #cde1fa;
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    text-align: center;
}

#about2 h2 {
    color: #cde1fa;
    font: 24px Trebuchet MS, Helvetica, sans-serif;
    text-align: center;
}

#about2 p {
    line-height: 150% !important;
    margin-left: 5%;
    color: #cde1fa;
    font-size: 16px;
}

#button2 {
    transition: .5s all;
}

#about2 a, a > span {
    color: #7df1f5;
    position: relative;
    text-decoration: none;

}

#about2 a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .6s ease;
}

#about3 {}

#button3 {
    transition: .5s all;
}

/* End about section CSS */

/* Button hover animations */

.btnGlow:hover {
    box-shadow: 0 0 8px rgba(0, 0, 200, 0.6);
}

.btnHoverAnim {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: transform;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.btnHoverAnim:hover {
    transform: scale(1.3);
}

.btnGlow {
    display: inline-block;
    transition-duration: 0.3s;
    transition-property: box-shadow;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
}

/* End button hover animations */

/* Link animated underline */

.effect1 {
    padding-top: 10px;
}

.effect1:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #7df1f5;
    transform: scaleX(0);
}

.effect1:hover:before {
   transform: scaleX(1);
}

/* End link animated underline */

/* Begin projects page CSS */

#projects {
    padding-top: 5vh;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/bk3.jpg');
}

#projects h1 {
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

.projButton {
    transition: .5s all;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.projButton:hover .overlay {
  opacity: 1;
}

.overlayTxt {
    color: white;
    font-size: 0.83333vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

#cardsBotInfo{}
#battleshipInfo{}
#platformerInfo{}
#simulationInfo{}
#unityPlatformerInfo{}

#cardsBotBtn {
    transition: .5s all;
}

#battleshipBtn {
    transition: .5s all;
}

#platformerBtn {
    transition: .5s all;
}

#simulationBtn {
    transition: .5s all;
}

#unityPlatformerBtn {
    transition: .5s all;
}

.effect2 {
    padding-top: 10px;
}

.effect2:before {
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #6603fc;
    transform: scaleX(0);
}

.effect2:hover:before {
   transform: scaleX(1);
}

#projects a, a > span {
    color: #6603fc;
    position: relative;
    text-decoration: none;
}

#projects a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .6s ease;
}

.modalAnimation {
    animation :modalAnim 0.7s ;
    -moz-animation-fill-mode: forwards
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes modalAnim {
    0%   { opacity: 0; transform: scale(0.75);}
    100% { opacity: 1; transform: scale(1);}
}

@-moz-keyframes modalAnim {
    0%   { opacity: 0; transform: scale(0.75);}
    100% { opacity: 1; transform: scale(1);}
}

@-o-keyframes modalAnim {
    0%   { opacity: 0; transform: scale(0.75);}
    100% { opacity: 1; transform: scale(1);}
}

@keyframes modalAnim {
    0%   { opacity: 0; transform: scale(0.75);}
    100% { opacity: 1; transform: scale(1);}
}

/* End projects page CSS */

/* Begin contact page CSS */

#contact {
    padding-top: 5vh;
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: center;
    background-image: url('../images/contact.jpg');
}

#contact h1 {
    font: 48px Trebuchet MS, Helvetica, sans-serif;
    padding: 30px;
    text-align: center;
    margin: 0 auto;
}

/* End contact page CSS */

/* Footer */
#footer {
    background-color: rgba(0, 0, 0, 0.2);
    min-height: 15vh;
}

/* Skills bar animation/styling */
.skillbar {
    position:relative;
    display:block;
    margin-bottom:40px;
    width:100%;
    background:#eee;
    height:35px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -webkit-transition:0.4s linear;
    -moz-transition:0.4s linear;
    -ms-transition:0.4s linear;
    -o-transition:0.4s linear;
    transition:0.4s linear;
    -webkit-transition-property:width, background-color;
    -moz-transition-property:width, background-color;
    -ms-transition-property:width, background-color;
    -o-transition-property:width, background-color;
    transition-property:width, background-color;
}

.skillbar-title {
    position:absolute;
    top:0;
    left:0;
    font-size:13px;
    color:#fff;
    background:#6adcfa;
    width: 75px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-title span {
    display:block;
    background:rgba(0, 0, 0, 0.1);
    height:35px;
    line-height:35px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}

.skillbar-bar {
    height:35px;
    width:0px;
    background:#6adcfa;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}

.skill-bar-percent {
    position:absolute;
    right:10px;
    right:10px;
    top:0;
    font-size:11px;
    height:35px;
    line-height:35px;
    color:#000;

}